<div class="nssg-container" data-bind="css: { isLoading: !data.loaded() }, nssgContainerSize: size">
    <table class="nssg-table">
        <thead class="nssg-thead">
            <tr class="nssg-thead-tr" data-bind="nssgTheadTr: true">
                <th class="nssg-th" data-bind="nssgTh: col"></th>
            </tr>
        </thead>
        <tbody class="nssg-tobdy" data-bind="nssgTbody: true">
            <tr class="nssg-tbody-tr" data-bind="nssgTbodyTr: true">
                <td class="nssg-td" data-bind="nssgTd: col"></td>
            </tr>
        </tbody>
    </table>
</div>