<div class="nssg-container" data-bind="css: { isLoading: !data.loaded() }, nssgContainerSize: size">
    <table class="nssg-table" data-bind="css : { animate: ui().animationEnabled}">
        <thead class="nssg-thead">
            <tr class="nssg-thead-tr" data-bind="newnssgTheadTr: true">
                <th class="nssg-th" data-bind="newnssgTh: col"></th>
            </tr>
        </thead>
        <tbody class="nssg-tobdy" data-bind="newnssgTbody: true">
            <tr class="nssg-tbody-tr" data-bind="newnssgTbodyTr: true">
                <td class="nssg-td" data-bind="newnssgTd: col"></td>
            </tr>
        </tbody>
    </table>
</div>