.nssg-table,
.nssg-thead,
.nssg-tbody,
.nssg-tfoot,
.nssg-thead-tr,
.nssg-tbody-tr,
.nssg-th,
.nssg-td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}